<div class="container">
  <span></span>
  <div class="row justify-content-center mb-3">
    <div class="col-8 text-center bg-light rounded p-3 border border-3 border-primary text-primary" >
      <h1><%= Time.zone.now.year %> Flights</h1>
    </div>
  </div>
</div>

<% if @flights.current.empty? %>
  <div class="text-center">
    <h2>Flight details coming soon...</h2>
  </div>
<% end %>

<% @flights.current.order(:number).each do |flight| %>
  <%= link_to flight_path(flight) do %>
    <div class="card card-body bg-dark text-light mb-3 border border-primary border-4 rounded">
      <div class="row">
        <div class="col-6">
          <h3>Flight <%= flight.number %></h3>
        </div>
        <div class="col-6 text-end d-flex flex-column justify-content-center">
          <h6><b><%= "#{flight.start_time.strftime("%l:%M")} - #{flight.end_time.strftime("%l:%M")}" %></b></h6>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
