<%= link_to all_notifications_path(anchor: "notification-#{notification.id}", format: 'turbo-stream'), class: 'text-decoration-none' do %>
  <li class="py-2">
    <i class="far fa-comment-alt my-auto align-middle <%= notification.unread? ? 'fas fa-comment-alt text-danger' : 'far fa-comment-alt text-muted' %>" style="font-size: 20px;" ></i>
    <strong class="ms-1 my-auto <%= notification.unread? ? 'text-danger' : 'text-muted' %>"><%= notification.to_notification.title%></strong>
  </li>
<% end %>
<div class="dropdown-divider"></div>