<footer class="bg-primary footer mt-auto py-3">
  <div class="container d-flex justify-content-between mx-auto text-light">
    <span>&copy; <%= Date.today.year %> Lawrence Brewers Guild</span>
  </div>
</footer>

