<div class="container">
  <span></span>
  <div class="row justify-content-center mb-3">
    <div class="col-8 text-center bg-dark rounded p-3 border border-3 border-primary text-light" >
      <h1>Live Music</h1>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row text-center justify-content-center mt-4">
    <div class="col-12 beer-list mb-2 text-light" style="background-color: rgba(22, 22, 22, 0.45)">
      <div class="row p-3">
        <div class="col-3 text-start my-auto px-1 px-lg-5">
          <%= image_tag('LanceFahy', class: 'border border-2 rounded w-100 img-flex')%>
        </div>
        <div class="col-6 my-auto">
          <h2>Lance Fahy</h2>
        </div>
        <div class="col-3 my-auto">
          <h3>12:00 - 12:20</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center justify-content-center mt-4">
    <div class="col-12 beer-list mb-2 text-light" style="background-color: rgba(22, 22, 22, 0.45)">
      <div class="row p-3">
        <div class="col-3 text-start my-auto px-1 px-lg-5">
          <%= image_tag('CatRodeo', class: 'border border-2 rounded w-100 img-flex')%>
        </div>
        <div class="col-6 my-auto">
          <h2>Cat Rodeo</h2>
        </div>
        <div class="col-3 my-auto">
          <h3>12:30 - 2:30</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center justify-content-center mt-4">
    <div class="col-12 beer-list mb-2 text-light" style="background-color: rgba(22, 22, 22, 0.45)">
      <div class="row p-3">
        <div class="col-3 text-start my-auto px-1 px-lg-5">
          <%= image_tag('smellovision', class: 'border border-2 rounded w-100 img-flex')%>
        </div>
        <div class="col-6 my-auto">
          <h2>Smell-o-Vision</h2>
        </div>
        <div class="col-3 my-auto">
          <h3>3:00 - 4:00</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center justify-content-center mt-4">
    <div class="col-12 beer-list mb-2 text-light" style="background-color: rgba(22, 22, 22, 0.45)">
      <div class="row p-3">
        <div class="col-3 text-start my-auto px-1 px-lg-5">
          <%= image_tag('JennaandMartin', class: 'border border-2 rounded w-100 img-flex')%>
        </div>
        <div class="col-6 my-auto">
          <h2>Jenna and Martin</h2>
        </div>
        <div class="col-3 my-auto">
          <h3>4:30 - 6:00</h3>
        </div>
      </div>
    </div>
  </div>
</div>
