<div class="container">
  <div class="row justify-content-center mb-3">
    <div class="col-8 text-center bg-dark rounded p-3 border border-3 border-primary text-light" >
      <h1>Event Schedule</h1>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row text-center justify-content-center mt-4">
    <div class="col-12 beer-list mb-2 text-light" style="background-color: rgba(22, 22, 22, 0.45)">
      <div class="row pt-1">
        <div class="col-7 text-start my-auto">
          <h2>Volunteer Night</h2>
        </div>
        <div class="col-4 my-auto">
          <h4>Wednesday Sept. 25</h4>
        </div>
      </div>
      <hr class="my-0"/>
      <div class="row p-3">
        <div class="col-12 text-start">
          <ul>
            <li>Gate opens at 5pm</li> 
            <li>Only for <%= Time.zone.now.year - 1 %> and <%= Time.zone.now.year %> Officers, committee volunteers, and ticket tent volunteers</li>
            <li>No formal plans for food, bring your own and have a relaxing evening!</li> 
            <li>Movie after dark displayed on projector, if possible</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center justify-content-center mt-4">
    <div class="col-12 beer-list mb-2 text-light" style="background-color: rgba(22, 22, 22, 0.45)">
      <div class="row pt-1">
        <div class="col-8 text-start my-auto">
          <h2>Camp Dale</h2>
        </div>
        <div class="col-3 my-auto">
          <h3>Thursday Sept. 26</h3>
        </div>
      </div>
      <hr class="my-0"/>
      <div class="row p-3">
        <div class="col-12 text-start">
          <ul>
            <li>Camp is open to all members after 4pm</li> 
            <li>Continuing the Thursday tradition</li>
            <li>Please donate $20 to cover camp costs (payable to the club, standard payment options)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center justify-content-center mt-4">
    <div class="col-12 beer-list mb-2 text-light" style="background-color: rgba(22, 22, 22, 0.45)">
      <div class="row pt-1">
        <div class="col-8 text-start my-auto">
          <h2>Friday Night Lights</h2>
        </div>
        <div class="col-3 my-auto">
          <h3>Friday Sept. 27</h3>
        </div>
      </div>
      <hr class="my-0"/>
      <div class="row p-3">
        <div class="col-12 text-start">
          <ul>
            <li>Open to all members</li>
            <li>Come help us and our commercial brewery friends setup and get ready for BrewFest!</li> 
            <li>Shrimp Boil/Gumbo will be available for $15, but food tickets are limited.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center justify-content-center mt-4">
    <div class="col-12 beer-list mb-2 text-light" style="background-color: rgba(22, 22, 22, 0.45)">
      <div class="row pt-1">
        <div class="col-8 text-start my-auto">
          <h2>Brew Fest</h2>
        </div>
        <div class="col-3 my-auto">
          <h3>Saturday Sept. 28</h3>
        </div>
      </div>
      <hr class="my-0"/>
      <div class="row p-3">
        <div class="col-12 text-start">
          <ul>
            <li>12pm - 6pm</li> 
            <li>Catered mains to be announced soon!</li> 
            <li>Bring a side or dessert for the potluck!</li>
            <li>Camping is open to all members</li>
          </ul>
        </div>
      </div>
    </div>
  </div>