<div class="page-header">
  <%= link_to breweries_path, class: 'btn btn-default' do %>
    All Breweries
  <% end %>
  <%= link_to edit_brewery_path(@brewery), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show brewery</h1>
</div>

<dl class="dl-horizontal">
</dl>
