<div class="page-header">
  <%= link_to beers_path, class: 'btn btn-default' do %>
    All Beers
  <% end %>
  <%= link_to edit_beer_path(@beer), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show beer</h1>
</div>

<dl class="dl-horizontal">
</dl>
