


<div class="row">
  <div class="col-sm-6">
    <h1>Checkins</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_checkin_path, class: 'btn btn-primary' do %>
    Add New Checkin
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @checkins.each do |checkin| %>
        <%= content_tag :tr, id: dom_id(checkin), class: dom_class(checkin) do %>
          

          
          
            <td><%= link_to 'Show', checkin %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
