<div class="page-header">
  <%= link_to checkins_path, class: 'btn btn-default' do %>
    All Checkins
  <% end %>
  <%= link_to edit_checkin_path(@checkin), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show checkin</h1>
</div>

<dl class="dl-horizontal">
</dl>
